* {
  margin: 0;
  padding: 0;
  --background-dark: #000000;
  --primary-color: #ffffff;
  --secondary-color: #9CA3AF;
  --highlight-color: #22C55E;
  --button-gradient: linear-gradient(90deg, rgba(19, 113, 239, 1) 0%, rgba(229, 57, 162, 1) 100%);
  --forms-gradient: linear-gradient(180deg, rgba(19, 113, 239, 1) 0%, rgba(229, 57, 162, 1) 100%);
}

@keyframes rgbAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 40%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  background-color: var(--background-dark);
  color: var(--primary-color);
  font-family: "Nunito", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.db-none {
  display: none;
}

.show {
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.container {
  padding: 2%;
}

.button {
  background: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #000000;
  cursor: pointer;
}

.button-gradient {
  background: var(--button-gradient);
  color: white;
  background-size: 200% 200%; 
  animation: rgbAnimation 2s infinite; 
}

.button-gradient:hover {
  transform: scale(1.1); 
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header__nav__desktop {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__text {
  width: 48%;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header__subtitle {
  font-size: 0.9rem;
  color: --secondary-color;
  font-weight: 200;
}

.header__title {
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 10px;
  line-height: 35px;
}

.header__image {
  width: 48%;
}

.header__image-bg {
  margin-top: -235px;
}

.header__image-bg-left {
  display: none;
}
.header__nav-item__menu {
  display: none;
  position: absolute;
  top: 10%;
  left: 0;
  background-color: #222;
  border: 1px solid #444;
  width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.header__nav-item__menu.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.header__nav-item__menu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid #444;
}
.navigation__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #454545;
  align-items: center;
}

.navigation__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  border: 1px solid var(--secondary-color);
}

.navigation__search i {
  color: var(--secondary-color);
}
.navigation__filters {
    border: none;
    background: none;
    color: var(--secondary-color);
    font-size: 0.9rem;
}
.navigation__search-input {
  border: none;
  background: none;
  padding: 2px;
  color: var(--secondary-color);
  width: 50%;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 80px;
}

.product__rating-star {
  color: #F1C644;
}

.product__price {
  color: var(--highlight-color);
}

.product__price-old {
  color: var(--secondary-color);
  text-decoration: line-through;
  font-size: 0.7rem;
}

.product__image {
  width: 40%; 
  height: 100%; 
}

.support {
  text-align: center;
}

.support__image {
  width: 50%;
}

.support__content {
  border: 1px solid;
  padding: 20px;
  border-radius: 20px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.support__title {
  font-size: 1.4rem;
}

.forms-section {
  text-align: center;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.forms-section__forms {
  background: var(--forms-gradient);
  border-radius: 10px;
  padding: 20px;
  border-top: 1px solid #8B5CF6;
  max-width: 70%;
  margin: 0 auto;
}

.forms-section__group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}

.forms-section__input,
.forms-section__textarea {
  padding: 10px;
  background: none;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.forms-section__input::placeholder,
.forms-section__textarea::placeholder {
  color: var(--secondary-color);
  font-weight: 200;
}

.forms-section__button {
  border: none;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
}

.footer {
  text-align: center;
  margin-top: 20%;
}

.footer__logo {
  width: 40%;
}

.footer__adress {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__adress-contact {
  text-decoration: underline;
  color: var(--primary-color);
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer__nav-list {
  text-align: left;
}

.footer__nav-item {
  color: var(--secondary-color);
  text-decoration: none;
}

.footer_social-link {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.footer__scroll-top {
  padding: 20px 25px;
  border-radius: 50%;
  background: var(--button-gradient);
  color: var(--primary-color);
  border: none;
}

.header__desktop-item {
  display: none;
}


.slide-desktop {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container__not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.container__not-found-img {
  width: 20%;
}
@media screen and (min-width: 900px) {
  button {
    font-size: 1.4rem;
  }
  .navigation__search {
    width: 10%;
  }

  .header__desktop-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__desktop-item:first-of-type {
    width: 40%;
  }

  .header__nav__desktop {
    display: flex;
    width: 36%;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav-item:nth-child(2) {
    width: 15%;
  }
  
  .header__image-bg-left {
    display: block;
    width: 20%;
    position: absolute;
    left: 0;
    left: calc(-8vw);
    top: calc(32vw + 20%);
  }
  .header__desktop__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .header__desktop__menu__select {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
  }

  .header__subtitle {
    font-size: 2rem;
  }

  .header__title {
    font-size: 5rem;
    line-height: normal;
  }

  .header__image {
    width: 40%;
  }

  .header__image-bg {
    width: 60%;
    margin-left: 40%;
    margin-top: -800px;
  }

  .products {
    display: flex;
    margin-top: 5%;
  }

  .product__description {
    width: 90%;
  }

  .support {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .support__image {
    width: 40%;
  }

  .support__content {
    width: 40%;
    margin: 0;
    padding: 100px 40px;
    text-align: left;
  }

  .support__content .button {
    width: 30%;
  }

  .forms-section {
    font-size: 1.5rem;
  }

  .forms-section__input::placeholder,
  .forms-section__textarea::placeholder {
    font-size: 1rem;
  }

  .forms-section__forms {
    padding: 40px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__nav {
    width: 40%;
  }

  .footer__logo {
    width: 10%;
  }

  .footer__adress {
    flex-direction: row;
    width: 33%;
    justify-content: space-between;
  }
 
  .slide-desktop  {
    width: 50%;
  }
}


.menu {
  position: relative;
}

.menu-toggle {
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  padding: 0 56px 0 0;
  cursor: pointer;
  display: inline-block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  border: 1px solid #444;
  width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.submenu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid #444;
}

.submenu a:hover {
  background-color: #333;
}

.submenu a:last-child {
  border-bottom: none;
}

.submenu.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 25%;
  height: 8px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(19, 113, 239, 1) 0%, rgba(229, 57, 162, 1) 100%);
  outline: none;
  opacity: 0.9;
  transition: opacity 0.3s;
  cursor: pointer;
}

.slidecontainer label,span {
  font-size: 0.9rem;
  color: var(--secondary-color);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(228, 227, 227);
  border: 2px solid  rgb(228, 227, 227);;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
}
